.navbar {
    margin: 0px 17.1vw;
    display: flex;
    width: 65.8vw;
    height: 78px;
    padding: 0px 3.08vw 0px 2.14vw;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */ 
}

.schedule {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */ 
}